{% extends 'plantilla.html' %}

{% block cabecera %}
    <link rel="shortcut icon" type="image/png" href="{{url_for('static', filename='assets/images/icon/favicon.ico')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='assets/css/bootstrap.min.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='assets/css/font-awesome.min.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='assets/css/themify-icons.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='assets/css/metisMenu.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='assets/css/owl.carousel.min.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='assets/css/slicknav.min.css')}}">
    <!-- amchart css -->
    <link rel="stylesheet" href="https://www.amcharts.com/lib/3/plugins/export/export.css" type="text/css" media="all" />
    <!-- others css -->
    <link rel="stylesheet" href="{{url_for('static', filename='assets/css/typography.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='assets/css/default-css.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='assets/css/styles.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='assets/css/responsive.css')}}">
    <!-- modernizr css -->
    <script src="{{url_for('static', filename='assets/js/vendor/modernizr-2.8.3.min.js')}}"></script>
{% endblock %}

{% block titulo_contenido %}
    <div class="breadcrumbs-area clearfix">                  
        <h4 class="page-title pull-left">Gestion de Usuarios</h4>
        <ul class="breadcrumbs pull-left">
            <li><a href="/inicio">Inicio</a></li>
            <li><a href="/usuarios">Usuarios</a></li>
            <li><span>Agregar Usuario</span></li>
        </ul>
    </div>
{% endblock %}


{% block contenido %}

            
            
    <div class="main-content-inner">
        <div class="row">
            <div class="col-lg-6 col-ml-12">
                <div class="row">

                    <div class="col-12 mt-5">
                        <div class="card">
                            <div class="card-body">
                                <h4 class="header-title">Agregar Usuario</h4>
                                <form id="crear_usuario_form" action="/usuarios/agregar" method="POST" enctype="multipart/form-data">
                                <!--form id="crear_usuario_form"-->
                                    <div class="form-group">
                                        <label for="input_nombres" class="col-form-label">Nombres</label>
                                        <input class="form-control" name="input_nombres" type="text" value="" id="input_nombres">
                                    </div>
                                    <div class="form-group">
                                        <label for="input_apellido_paterno" class="col-form-label">Apellido Paterno</label>
                                        <input class="form-control" type="text" value="" id="input_apellido_paterno" name="input_apellido_paterno">
                                    </div>
                                    <div class="form-group">
                                        <label for="input_apellido_materno" class="col-form-label">Apellido Materno</label>
                                        <input class="form-control" type="text" value="" id="input_apellido_materno" name="input_apellido_materno">
                                    </div>
                                    <div class="form-group">
                                        <label for="input_carnet" class="col-form-label">Cedula de Identidad</label>
                                        <input class="form-control" type="text" value="" id="input_carnet" name="input_carnet">
                                    </div>
                                    <div class="form-group">
                                        <label for="input_cargo" class="col-form-label">Cargo de Usuario</label>
                                        <input class="form-control" type="text" value="" id="input_cargo" name="input_cargo">
                                    </div>
                                    <div class="form-group">
                                        <label for="input_nombre_cuenta" class="col-form-label">Cuenta de Usuario</label>
                                        <input class="form-control" type="text" value="" id="input_nombre_cuenta" name="input_nombre_cuenta">
                                    </div>
                                    <div class="form-group">
                                        <label for="input_contrasena" class="col-form-label">Contraseña</label>
                                        <input class="form-control" type="password" value="" id="input_contrasena" name="input_contrasena">
                                    </div>
                                            
                                    <div class="form-group">
                                        <label class="col-form-label">Rol de Usuario</label>
                                        <select class="custom-select" id="input_rol" name="input_rol">
                                            <option selected="selected">Selecciona un Rol</option>
                                            {% for rol in roles %}
                                                <option value="{{rol.id_rol}}">{{rol.nombre}}</option>
                                            {% endfor %}
                                                    
                                        </select>
                                    </div>
                                    <button id="boton_agregar_usuario" type="submit" class="btn btn-rounded btn-success mb-3">Agregar Usuario</button>
    
                                </form>
                                        
                                        
                                        
                            </div>
                        </div>
                    </div>
                        
                </div>
            </div>
                    
        </div>
    </div>
       
    <script src="{{url_for('static', filename='assets/js/crear_usuario.js')}}"></script>
    <!--script src="{{url_for('static', filename='assets/js/usuarios.js')}}"></script-->


    <script src="{{url_for('static', filename='assets/js/vendor/jquery-2.2.4.min.js')}}"></script>
    

    <script src="{{url_for('static', filename='assets/js/popper.min.js')}}"></script>
    <script src="{{url_for('static', filename='assets/js/bootstrap.min.js')}}"></script>
    <script src="{{url_for('static', filename='assets/js/owl.carousel.min.js')}}"></script>
    <script src="{{url_for('static', filename='assets/js/metisMenu.min.js')}}"></script>
    <script src="{{url_for('static', filename='assets/js/jquery.slimscroll.min.js')}}"></script>
    <script src="{{url_for('static', filename='assets/js/jquery.slicknav.min.js')}}"></script>


    <script src="{{url_for('static', filename='assets/js/plugins.js')}}"></script>
    <script src="{{url_for('static', filename='assets/js/scripts.js')}}"></script>
{% endblock %}