{% extends 'plantilla.html' %}

{% block cabecera %}
    <link rel="shortcut icon" type="image/png" href="{{url_for('static', filename='assets/images/icon/favicon.ico')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='assets/css/bootstrap.min.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='assets/css/font-awesome.min.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='assets/css/themify-icons.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='assets/css/metisMenu.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='assets/css/owl.carousel.min.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='assets/css/slicknav.min.css')}}">
    <!-- amchart css -->
    <link rel="stylesheet" href="https://www.amcharts.com/lib/3/plugins/export/export.css" type="text/css" media="all" />
    <!-- others css -->
    <link rel="stylesheet" href="{{url_for('static', filename='assets/css/typography.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='assets/css/default-css.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='assets/css/styles.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='assets/css/responsive.css')}}">
    <!-- modernizr css -->
    <script src="{{url_for('static', filename='assets/js/vendor/modernizr-2.8.3.min.js')}}"></script>
{% endblock %}

{% block titulo_contenido %}
    <div class="breadcrumbs-area clearfix">                  
        <h4 class="page-title pull-left">Gestion de Pacientes</h4>
        <ul class="breadcrumbs pull-left">
            <li><a href="/inicio">Inicio</a></li>
            <li><a href="/control_signos_vitales">Hojas de Control de Signos Vitales</a></li>
            <li><a href="/control_signos_vitales/ver/{{hoja.id_hoja}}">Ver Hoja de Control</a></li>
            <li><span>Agregar Signos Vitales del paciente</span></li>
        </ul>
    </div>
{% endblock %}


{% block contenido %}

            
            
    <div class="main-content-inner">
        <div class="row">
            <div class="col-lg-6 col-ml-12">
                <div class="row">

                    <div class="col-12 mt-5">
                        <div class="card">
                            <div class="card-body">
                                <h4 class="header-title">Agregar Signos Vitales del Paciente a la Hoja de Control</h4>
                                <div class="row">
                                    <div class="col-12">
                                        <p><strong>Nombres y Apellidos: </strong> {{hoja.nombres}} {{hoja.apellido_paterno}} {{hoja.apellido_materno}}</p>
                                        
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-4">
                                        <p><strong>Servicio: </strong>{{hoja.servicio}}</p>
                                        <!--div class="grid-col">
                                            PARA COLOCAR EN UN RECUADRO
                                        </div-->
                                    </div>
                                    <div class="col-md-4">
                                        <p><strong>Pieza: </strong>{{hoja.pieza}}</p>
                                        
                                    </div>
                                    <div class="col-md-4">
                                        <p><strong>Número de Hoja: </strong>{{hoja.numero_hoja}}</p>
                                        
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-4">
                                        <p><strong>Peso: </strong>{{hoja.peso}} Kg.</p>
                                    </div>
                                    <div class="col-md-4">
                                        <p><strong>Talla: </strong>{{hoja.talla}} cm.</p>
                                    </div>
                                    <div class="col-md-4">
                                        <p><strong>Edad: </strong>{{hoja.edad}} años</p>
                                    </div>
                                </div>
                                <form id="crear_paciente_form" action="/control_signos_vitales/agregar_signo/{{hoja.id_hoja}}" method="POST" enctype="multipart/form-data">
                                <!--form id="crear_usuario_form"-->
                                    
                                    <div class="form-group">
                                        <label for="input_fecha" class="col-form-label">Fecha</label>
                                        <input class="form-control" name="input_fecha" type="date" value="" id="input_fecha">
                                    </div>
                                    <!--div class="form-group">
                                        <label for="input_hora" class="col-form-label">Hora</label>
                                        <input class="form-control" name="input_hora" type="time" value="" id="input_hora">
                                    </div-->
                                    <div class="form-group">
                                        <label class="col-form-label">Hora</label>
                                        <select class="custom-select" id="input_hora" name="input_hora">
                                            <option selected="selected">Selecciona la Hora</option>
                                            <option value="6">06:00</option>
                                            <option value="10">10:00</option>
                                            <option value="15">15:00</option>
                                            <option value="21">21:00</option>
               
                                        </select>
                                    </div> 
                                    <div class="form-group">
                                        <label for="input_presion_sistolica" class="col-form-label">Presión Sistolica</label>
                                        <input class="form-control" type="number" value="" id="input_presion_sistolica" name="input_presion_sistolica" min="0" max="250" step="1">
                                    </div>
                                    <div class="form-group">
                                        <label for="input_presion_diastolica" class="col-form-label">Presión Diastolica</label>
                                        <input class="form-control" type="number" value="" id="input_presion_diastolica" name="input_presion_diastolica" min="0" max="250" step="1">
                                    </div>
                                    <div class="form-group">
                                        <label for="input_respiracion" class="col-form-label">Respiración (%)</label>
                                        <input class="form-control" type="number" value="" id="input_respiracion" name="input_respiracion" min="0" max="150" step="1">
                                    </div>
                                    <div class="form-group">
                                        <label for="input_saturacion" class="col-form-label">Saturación de Óxigeno (%)</label>
                                        <input class="form-control" type="number" value="" id="input_saturacion" name="input_saturacion" min="0" max="150" step="1">
                                    </div>
                                    <div class="form-group">
                                        <label class="col-form-label">Diuresis</label>
                                        <select class="custom-select" id="input_diuresis" name="input_diuresis">
                                            <option selected="selected">Selecciona la Diuresis</option>
                                            <option value="1">+</option>
                                            <option value="2">-</option>
               
                                        </select>
                                    </div>   
                                    <div class="form-group">
                                        <label class="col-form-label">Catarsis</label>
                                        <select class="custom-select" id="input_catarsis" name="input_catarsis">
                                            <option selected="selected">Selecciona la Catarsis</option>
                                            <option value="1">+</option>
                                            <option value="2">-</option>
               
                                        </select>
                                    </div>   
                                    
                                    <button id="boton_agregar_signo" type="submit" class="btn btn-rounded btn-success mb-3">Agregar Signos Vitales</button>
    
                                </form>
                                        
                                        
                                        
                            </div>
                        </div>
                    </div>
                        
                </div>
            </div>
                    
        </div>
    </div>
       
    <script src="{{url_for('static', filename='assets/js/hoja_control.js')}}"></script>
    <!--script src="{{url_for('static', filename='assets/js/usuarios.js')}}"></script-->


    <script src="{{url_for('static', filename='assets/js/vendor/jquery-2.2.4.min.js')}}"></script>
    

    <script src="{{url_for('static', filename='assets/js/popper.min.js')}}"></script>
    <script src="{{url_for('static', filename='assets/js/bootstrap.min.js')}}"></script>
    <script src="{{url_for('static', filename='assets/js/owl.carousel.min.js')}}"></script>
    <script src="{{url_for('static', filename='assets/js/metisMenu.min.js')}}"></script>
    <script src="{{url_for('static', filename='assets/js/jquery.slimscroll.min.js')}}"></script>
    <script src="{{url_for('static', filename='assets/js/jquery.slicknav.min.js')}}"></script>


    <script src="{{url_for('static', filename='assets/js/plugins.js')}}"></script>
    <script src="{{url_for('static', filename='assets/js/scripts.js')}}"></script>
{% endblock %}