<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="content" id="contenido">
        <div class="title">
            <h1>HELLODA</h1>
        </div>
        <div class="par">
            <p>gelloda</p>
        </div>
    </div>
    <script>
        const pagina = document.getElementById('contenido');
        console.log(pagina)
        console.log(pagina)
    </script>
</body>
</html>